<h1 class="m-3" >What do you like to ask?</h1>
<form action="/answer" data-turbo="false">
  <div class="d-flex ustify-content-between">
    <input class="m-3 form-control p-3 rounded-pill w-75" type="text" name="question">
    <input class="btn btn-primary rounded-pill btn-md" type="submit" value="Ask!">
  </div>
</form>
